$color-cly-blue: #f4f4f5;
$color-cly-white: #fff;

$color-primary: #1c75bc;
$color-primary-light: #5cb1f6;
$color-primary-dark: #0f3f66;
$color-dark-blue: #00449e;

$color-secondary-green:  #8aba87;
$color-secondary-green-dark: #3ea537;

$color-secondary-green-dark-1: #1fd812;

$color-tertiary: #f03463;
$color-tertiary-light: #fd7496;
$color-tertiary-dark: #e60940;

$color-grey-light-1: #a1a1a1;
$color-grey-light-2: #b1b1b1;
$color-grey-light-3: #c1c1c1;
$color-grey-light-4: #d1d1d1;
$color-grey-light-5: #e1e1e1;
$color-grey-light-6: #f1f1f1;
$color-grey-light-7: #faf8f8;

$color-grey-dark-1: #999999;
$color-grey-dark-2: #888888;
$color-grey-dark-3: #777777;
$color-grey-dark-4: #666666;
$color-grey-dark-5: #555555;
$color-grey-dark-6: #444444;