.navbar{
    width: 100%;
    height: 6rem;
    background: black;
    border-bottom: 2px solid red;
    position: fixed;
    ul{
        display: flex;
        justify-content:center;
    }
    li{
        list-style-type: none;
    margin: 1rem;
    border: 1px solid black;
    padding: 0.9rem 8rem;
    background: #4a69a2;
    color: white;
    transition:ease-in-out 0.5s;
    &:hover{
        background-color:#3e79e7
    }
    }
}